<!--file name: Web_assignment2
Author Name: HongliangLiu(200255269)
website Name:https://hongliangliuassignment2.herokuapp.com.
file information please read readme file.
-->
<%- include partials/header.ejs %>

<!--Html session -->
 <div class="container">
        <form id="form1">
    <div>
    
 <div class="educaton">
                    <h2>EDUCATION</h2>
     
          <div class="col-xs-6 ">
     
                <img src="/images/dalian.png"/>
              <p>       Measuring-Control Technology and Instrumentation&Software Engineering
Dalian Jiaotong University , Dalian Liaoning, China                2008-2013
                    </p>
   
     </div>
     
     
      <div class="col-xs-6 ">
          
           <img src="/images/Georgian.png"/>
             <p>
                        Computer Programmer  (COPR)					                2014-Present
Georgian College, Barrie, ON, Canada
                    </p>
              </div>
                  
                 
</div>

  <div class="col-md-12 jumbotron">
                    <h2>TECHNICAL SKILLS AND PROFESSIONAL BUSSINESS QUALITIES</h2>
                    <p>
                        Able to work with major desktop OS such as Windows, Linux;
Familiar with mainframe system, can read basic instruction and COBOL language;
Knowledge with Java Programming,HTML,PHP page building,Database system.can read and write basic page and project.
Able to work with visual studio 2013 and 2015, can build Master pages some application with Azure database.
Capable to work with computer hardware, able to troubleshoot printers and fix computer accessories;
Excellent Team-Player, efficient self-study skills and willing-to-learn attitude;
Good communication skills with both English and Chinese.
Providing G2 license and a vehicle
                    </p>
                </div>
              
                <div class="col-md-12 jumbotron">
                    <h2>WORK EXPERIENCE</h2>
                    <p>
                        Da Lian Jian Si software company (intership)                    2013-2013
Da Lian, Liao Ning, China.
Job description: Training about C++, Java. Design simple projects. 
                    </p>
                    <p>
                        Jin Jia wire and cable company   (part time)                      2010-2014
Dan Dong, Liao Ning, China.
Job description: Responsible for sales and statistics.Work with office software.
                    </p>

                </div>


    </div>
    </form>
     
     
     <%- include partials/footer.ejs %>
