<!--file name: Web_assignment2
Author Name: HongliangLiu(200255269)
website Name:https://hongliangliuassignment2.herokuapp.com.
file information please read readme file.
-->
<%- include partials/header.ejs %>
  <!--Html session -->
 <div class="container">
        <form id="form1" >
            
            <%- include partials/contents.ejs %>
           
 
            <div class="row2">
                
                
                  <div class="col-sm-9  jumbotron">
             <p>Providing relevant IT support skills and knowledge to fulfill the demands of user support and troubleshoot technical issues.                      Will provide you with confident, responsible and hard-work individual.</p>      
                </div> 
                
                <div class="col-sm-3">
                    
                      <img src="/images/D053E9C9BE79861DB771764941463F28.png" alt="Personal" class="img-thumbnail" width="200" height="400">
                
                </div>
                
                
                
                
                     
            </div>   
            
            
            
            
            
            
        </form>
 <%- include partials/footer.ejs %>
