<!--file name: Web_assignment2
Author Name: HongliangLiu(200255269)
website Name:https://hongliangliuassignment2.herokuapp.com.
file information please read readme file.
-->
<%- include partials/header.ejs %>
<!--Html session -->

 <div class="container">
        <form id="form1">
   <h1 class="text-center">Personal Work</h1>
    
<div class="row">
  <div class="col-xs-6 col-md-6">
    <a href="http://hongliangbusiness.azurewebsites.net/" class="thumbnail">
      <img src="/images/p1.png" alt="first">
    </a>
      <P>Personal Business Web Design</P>
  </div>
 <div class="col-xs-6 col-md-6">
    <a href="http://assignment1-hongliangliu.azurewebsites.net/" class="thumbnail">
      <img src="/images/p2.png" alt="first">
    </a>
      <P>Web Design Assignment(Sec4)</P>
  </div>
</div>
    
    </form>
     
     
     <%- include partials/footer.ejs %>
